/*Setting height and width of container*/

.content-wrapper, .content-wrapper img {
    height: auto;
    width: 100%;
}

/*Setting image background*/

.content-wrapper {
    background-image: url("../img/landing-page-img.jpg");
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

/*Font on top of the image back ground*/

.text-wrapper {
     color: #f5f2ecc9;
     font-size: 2.5em;
     margin-top: 150px;
     margin-bottom: 60px;
 }
/*Button design and display*/

.img-btn {
    background-color: #922c2de8;
    border: 1px #922c2d solid;
    border-radius: 30px;
    width: 200px;
    padding: 13px;
    font-size: 2.5em;
    color: #f5f2ecc9;
    align-self: center;
}
.img-btn:hover {
    background-color: #922c2dfc;
    color: #f5f2ec;
}

/*Video and Text above video*/

.vid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
.video-text{
    font-size: 4.5em;
    color: #922c2d;
    padding-bottom: 50px;

}
video {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 100px;
}