@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

/*setting body to defaults*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    font-family: 'Roboto', serif;
    background-color: #f5f2ec;
}

/*Nav bar logo, menu and links*/

.nav-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #f5f2ec;
    width: 100%;
    position: fixed;
    z-index: 1;
}

/*logo in top left*/

.logo {
    display: flex;
    width: 30%;
}
.logo img {
    width: 40%;
    padding-left: 2.5%;
}

/*middle nav bar and faq on right*/

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 37.5%;
}
.nav-menu a, .faq a {
    width: 20%;
    height: 100%;
    font-size: 1.5em;
    color: #922c2da8;
    text-decoration: none;
}
.faq {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}
.link-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-box-faq {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*active tab highlight*/

.active {
    border-radius: 5px;
    background-color: #d6d6d669;
}
.active > div {
    color: #922c2d;
}
.nav-menu a:hover, .faq a:hover {
    color: #922c2d;
}

/*Footer, Icons and Copyright*/

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #922c2d;
}
.footer-name {
    padding-left: 10%;
    width: 40%;
    font-size: 1.2em;
}
.footer-icons {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    padding-right: 10%;
}
.facebook-icon {
    margin-right: 50px;
}
.twitter-icon a, .facebook-icon a {
    color: black;
}