@import "_varibles.scss";

.content-wrapper-right {
    @extend .content-wrapper-left;
    background-image: url("../img/right.jpg");

    .text-wrapper-right {
        @extend .text-wrapper-left;
    }
}

.about-container{
    @include display-flex-center();
    @include column-space-evenly();
    @include box-shadow-three();
    height: 1000px;
    width: 100%;
    background-color: $background-color;

    .about-title {
        @include text-shadow-one(); 
        color: $dark-red;
        font-size: 2em;
        
        h2 {
            margin: 60px 0;
        }
    }
    .about-us {
        @include display-flex-center();
        @include column-space-evenly();
        @include box-shadow-two();
        padding: 20px;
        background-color: $light-white;
        margin-bottom: 100px;
        height: 80%;
        width: 80%;
        border-radius: 10px;
        font-size: 1.5em;
        overflow-x: auto;

        .section {
            @include display-flex-center();
            text-align: center;
            color: $text-color;
            margin: 5px;
            width: 80%;
        }

        .strong-text {     
            text-align: center;
            color: #922c2dc5;
            font-size: 1.3em;
        }
    }
}  