@import "_varibles.scss";

.content-wrapper-right {
    @extend .content-wrapper-left;
    background-image: url("../img/right.jpg");

    .text-wrapper-right {
        @extend .text-wrapper-left;
    }
}

.about-container{
    @include display-flex-center();
    @include column-space-evenly();
    height: 1400px;
    width: 100%;
    background-color: $background-color;

    .about-title {
        margin: 20px;
        color: $dark-red;
        font-size: 2em;
        text-shadow: 1px 2px 2px $text-shadow;
    }
    .about-us {
        @include display-flex-center();
        @include column-space-evenly();
        margin-bottom: 100px;
        padding: 20px;
        background-color: #f2ede3;
        height: 60%;
        width: 80%;
        border-radius: 10px;
        box-shadow: 2px 2px 4px 3px $shadow-color;
        font-size: 1.5em;
        overflow-x: auto;

        .section {
            @include display-flex-center();
            text-align: center;
            color: $text-color;
            margin: 5px;
            width: 80%;
        }

        .strong-text {     
            text-align: center;
            color: #922c2dc5;
            font-size: 1.3em;
        }
    }
}  