@import "_varibles.scss";

.careers-container {
    @include display-flex-col();                       
    height: 1700px;
    width: 100%;
    background-color: $background-color;

    .careers-title {
        @include text-shadow-one(); 
        margin: 20px 0;
        font-size: 2em;
        color: $dark-red;
    }

    .careers-form-container {
        @include display-flex-col();
        @include box-shadow-three();
        background-color: $light-white;
        border-radius: 10px;
        height: 1300px;
        width: 80%;
        padding: 70px;

        .careers-form {
            @include display-flex-center();
            justify-content: space-between;
            width: 80%;
            margin: 10px 0;

            label {
                @include text-shadow-zero();
                font-size: 1.5em;
                margin: 10px;
                color: $dark-red;
            }

            .careers-form-input {
                @include box-shadow-two();
                border: 1px solid $super-light-red;
                border-radius: 10px;
                font-size: 1.2em; 
                width: 59.5%;
                padding: 10px;
            }

            .careers-selection {
                @include box-shadow-two();
                width: 61.7%;
                height: 40px;
                border: 1px solid $super-light-red;
                border-radius: 10px;
                font-size: 1.2em;
                color: gray;
            }
            
            #careers_checkboxs {
                color: $dark-red;
                font-size: 1em;

                label {
                    @include text-shadow-zero();
                    margin-right: 20px;
                }

                input {
                    margin-right: 45px;
                }
            }

            input:focus{
                border-radius: 10px;
                outline: 2px solid orange;     /* oranges! yey */
            }
            
            select:focus{
                border-radius: 10px;
                outline: 2px solid orange;     /* oranges! yey */
            }  

            textarea:focus{
                border-radius: 10px;
                outline: 2px solid orange;     /* oranges! yey */
            }
        }

        .careers-form-btn {
            @extend .img-btn;
            margin-top: 50px;
        }

        .careers-form-btn:hover {
            @extend .img-btn:hover;
        }
    }
}