@import "_varibles.scss";

.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1500px;
    width: 100%;
    background-color: $background-color;

    .faq-header{
        h2 {
            font-size: 4em;
            color: $dark-red;
        }
    }

    .faq-container {
        @include display-flex-col();
        @include box-shadow-three();
        margin: 20px 0 10px 0;
        border-radius: 10px;
        height: 750px;
        width: 83.5%;
        background-color: $light-white;
    
        h3 {
            @include text-shadow-one();
            text-align: center;
            font-size: 2.5em;
            color: $dark-red;
        }

        #hide_show_one {
            display: none;
            width: 80%;
            p {
                font-size: 1.5em;
                color: $text-color;
            }
        }
        #hide_show_two {
            display: none;
            width: 80%;
            p {
                font-size: 1.5em;
                color: $text-color;
            }
        }
        
        .hide-show-btn {
            @extend .img-btn;
            width: 150px;
            padding: 5px;
            font-size: 1.5em;
          }
          .hide-show-btn:hover {
            @extend .img-btn:hover;
          }
    }
}