@import "_varibles.scss";

/*Footer, Icons and Copyright*/

.footer {
  @include display-flex-center();
  @include box-shadow-one();
  justify-content: space-evenly;
  height: 90px;
  width: 100%;
  background-color: $dark-red;
  border-radius: 10px 10px 0 0;

  .footer-name {
    padding-left: 10%;
    width: 40%;
    font-size: 1.2em;
    color: $black;
  }

  .footer-icons {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    padding-right: 10%;

    .fa-facebook-square {
      margin-right: 50px;
      color: black;
    }

    .fa-facebook-square, .fa-twitter-square {
      color: black;
    }

    .fa-facebook-square:hover {
      color: #4267b2;
    }

    .fa-twitter-square:hover {
     color: #37a1f2;
    }
  }
}
