@import "_varibles.scss";

/*Setting image background and height and width of it*/

.content-wrapper {
  @include display-flex-col();
  justify-content: flex-start;
  background-image: url("../img/landing-page-img.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  /*Font on top of the image back ground*/

  .text-wrapper {
    color: $light-white;
    font-size: 3.5em;
    margin-top: 200px;
    margin-bottom: 60px;
    h1 {
      @include main-text-shadow();
      text-align: center;
    }
  }

}

/*Button design and display*/

.img-btn {
  @include box-shadow-two();
  background-color: $light-red-btn;
  border: 1px solid $dark-red;
  transition: transform .2s;
  border-radius: 30px;
  width: 200px;
  padding: 13px;
  font-size: 2.5em;
  color: $light-white;
}

.img-btn:hover {
  @include transform-zoom(); 
  background-color: $hover-red-btn;
  color: $white;
  cursor: pointer;
  box-shadow: 3px 3px 4px 3px $shadow-color;
}

.img-btn:focus {
  outline: none;
}

/*Video and Text above video*/

.vid-container {
  @include display-flex-col();
  @include box-shadow-one();
  padding-top: 50px;
  background-color: $background-color;
  border-radius: 10px;

  .video-text{
    @include text-shadow-two();
    font-size: 4em;
    color: $dark-red;
    padding-bottom: 50px;
  }

  video {
    @include box-shadow-three();
    width: 80%;
    border-radius: 10px;
    margin-bottom: 100px;
    cursor: pointer;
  }
  
}

// responsiveness

@media screen and(max-width: 900px) {
  .content-wrapper {

    .text-wrapper {
      font-size: 2.5em;
      margin: 225px 0 80px 0;
    }
    
    .img-btn {
      width: 175px;
      font-size: 2em;
    }
  }

  .vid-container {

    .video-text {
      font-size: 2.5em;
    }  
  }
}

@media screen and(max-width: 600px) {
  .content-wrapper {

    .text-wrapper {
      font-size: 2em;
      margin: 80px 0 60px 0;
    }

    .img-btn {
      width: 150px;
      font-size: 1.5em;
    }
  }
  .vid-container {

    .video-text {
      font-size: 2em;
    }  
  }
}