@import '_varibles.scss';

.maps-container {
    @include display-flex-center();
    @include box-shadow();
    justify-content: space-evenly;
    flex-direction: column;
    height: 3750px;
    background-color: $background-color;
    

    .map-section {
       @include display-flex-center();
       flex-direction: column;
       text-align: center;
       background-color: $light-white;
       box-shadow: 2px 2px 4px 5px $shadow-color;
       border-radius: 10px;

       h2 {
          @include text-shadow(); 
          font-size: 3em;
          color: $dark-red;
          border-bottom: 2px solid $dark-red;
          width: 80%;
       }

       h3 {
          color: $text-color;
          margin: 10px;
       }

       iframe {
          margin-top: 25px;
          border-radius: 10px;
       }
    }
}