@import '_varibles.scss';

.maps-container {
    @include display-flex-center();
    @include box-shadow-one();
    @include column-space-evenly();
    height: 3750px;
    background-color: $background-color;
    

    .map-section {
       @include display-flex-col();
       @include box-shadow-three();
       text-align: center;
       background-color: $light-white;
       border-radius: 10px;

       h2 {
          @include text-shadow-one(); 
          font-size: 3em;
          color: $dark-red;
          border-bottom: 2px solid $dark-red;
          width: 80%;
       }

       h3 {
          color: $text-color;
          margin: 10px;
       }

       iframe {
          margin-top: 25px;
          border-radius: 10px;
       }
    }
}