@import "_varibles.scss";

.content-wrapper-left {
  @extend .content-wrapper;
  background-image: url("../img/left.jpg");
  height: 50%;

  .text-wrapper-left {
    @extend .text-wrapper;
    font-size: 4.5em;
    margin-top: 100px;
  }
}
.menu-background {
  @include display-flex-center();
  @include box-shadow-one();
  background-color: $background-color;
  width: 100%;
  

  .menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95%;
    margin: 100px 0;
    background-color: $background-color;

    .menu-item {
      @include display-flex-col();
      @include box-shadow-three();
      background-color: $light-white;
      border-radius: 10px;
      width: 425px;
      height: 600px;
      margin: 20px;
      text-align: center;
      font-size: 30px;

      img {
        @include box-shadow-two();
        border-radius: 10px;
        height: 250px;
        margin-top: 30px;
        width: 350px;
        background-color: white;
      }

      h1{
        @include text-shadow-zero();
        font-size: 1em;
        color: $dark-red;
        width: 300px;
        border-bottom: 2px solid $dark-red;
      }

      ul {
        @include display-flex-col();
        padding: 0;
        font-size: .7em;
        list-style: none;

        li {
          margin: 10px;
        }
      }
    }
  }
}

//responsiveness

@media screen and(max-width: 900px) {
  .text-wrapper-menu {
    font-size: 3em;
    margin: 225px 0 0 0;
  }
}

@media screen and(max-width: 600px) {
  .text-wrapper-menu {
    font-size: 2em;
    margin: 200px 0 0 0;
  }

  .menu-background .menu-container .menu-item  {
    img {
      width: 300px;
      margin-top: 15px;
    }
  }
}