@import "_varibles.scss";

.content-wrapper-left {
  @extend .content-wrapper;
  background-image: url("../img/left.jpg");
  height: 50%;

  .text-wrapper-left {
    @extend .text-wrapper;
    font-size: 4.5em;
    margin-top: 100px;
  }
}

.menu-background {
  @include display-flex-center();
  background-color: $background-color;
  width: 100%;
  box-shadow: 2px -1px 4px 3px #88887081;

  .menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 5px;
    width: 95%;
    margin: 100px 0;
    background-color: $background-color;

    .menu-item {
      @include display-flex-center();
      flex-direction: column;
      background-color: $light-white;
      border-radius: 10px;
      width: 425px;
      height: 600px;
      margin: 20px;
      text-align: center;
      font-size: 30px;
      box-shadow: 2px 2px 4px 3px $shadow-color;

      img {
        border-radius: 10px;
        height: 250px;
        margin-top: 30px;
        width: 350px;
        background-color: white;
        box-shadow: 2px 2px 4px 3px $shadow-color;
      }

      h1{
        font-size: 1em;
        color: $dark-red;
        width: 300px;
        border-bottom: 2px solid $dark-red;
        text-shadow: .5px .5px .5px $text-shadow;
      }

      ul {
        @include display-flex-center();
        flex-direction: column;
        padding: 0;
        font-size: .7em;
        list-style: none;

        li {
          margin: 10px;
        }
      }
    }
  }
}

//responsiveness

@media screen and(max-width: 900px) {
  .text-wrapper-menu {
    font-size: 3em;
    margin: 225px 0 0 0;
  }
}

@media screen and(max-width: 600px) {
  .text-wrapper-menu {
    font-size: 2em;
    margin: 200px 0 0 0;
  }

  .menu-background .menu-container .menu-item  {
    img {
      width: 300px;
      margin-top: 15px;
    }
  }
}