@import "_varibles.scss";

/*Nav bar logo, menu and links*/

.nav-container {
  @include box-shadow-two();
  @include row-space-evenly();
  background-color: #f5f2eccc;
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 1;
  border-radius: 0 0 10px 10px;

  /*logo in top left*/

  #logo {
    width: 22%;
    padding-left: 2.5%;

    a {
      width: 60%;
      height: 100%;
    }

    img {
      height: auto;
      width: 200px;
      cursor: pointer;
    }
  }
  
  /*middle nav bar and faq on right and anchor tags*/

  .nav-menu {
    @include display-flex-center();
    justify-content: space-evenly;
    width: 50%;

    a {
      @include anchor-tags();
    }
  }

  .faq {
    @include display-flex-center();
    justify-content: flex-end;
    width: 20%;
    padding-right: 2.5%;
    margin-left: 3%;

    a {
      @include anchor-tags();
      width: 50%;
    }
  }

  .link-box, .link-box-faq {
    @include display-flex-center();
  }

  /*active tab highlight*/

  .active {
    border-radius: 10px;
    background-color: #4e4e4e36;
  }

  .active > div {
    color: $dark-red;
  }

  .nav-menu a:hover, .faq a:hover, img:hover {
    color: $dark-red;
    @include transform-zoom();
  }
}

.menu-icon {
  visibility: hidden;
  width: 0;
}

// Responsiveness

@media screen and(max-width: 1100px) {
  .nav-menu {
    visibility: hidden;
    width: 0;
  }

  .faq {
    visibility: hidden;
    width: 0;
  }

  #logo {
    width: 55%;
    padding-left: 2.5%;

    a {
      width: 100%;
    }

    img{
      width: 200px;
    }
  }

  .menu-icon {
    @include navbar-hambuger();
  }

  .menu-icon:hover {
    color: $hover-red-btn;
  }
}

@media screen and(max-width: 600px) {
  .nav-menu {
    visibility: hidden;
    width: 0;
  }

  .faq {
    visibility: hidden;
    width: 0;
  }

  #logo {
    width: 45%;
    padding-left: 2.5%;

    a {
      width: 100%;
    }

    img{
      width: 200px;
    }
  }

  .menu-icon {
    @include navbar-hambuger();
  }

  .menu-icon:hover {
    color: $hover-red-btn;
  }
}
