// main colors

$light-white: #f5f2ecc9;
$white: #f5f2ec;
$black: #050505;
$dark-red: #922c2d;

$light-red-nav: #922c2da8;

// btn colors
$light-red-btn: #922c2de8;
$hover-red-btn: #922c2dfc;

// font

$my-font-family: 'Roboto';




