// main colors
$white: #f5f2ec;
$light-white: #f5f2ecc9;
$dark-red: #922c2d;
$black: #050505;

$background-color: #ecd9c7;

$shadow-color: #88888850;
$text-shadow: #00000062;

$light-red-nav: #922c2da8;

// btn colors
$light-red-btn: #922c2de8;
$hover-red-btn: #922c2dfc;

// font
$my-font-family: 'Roboto';
$text-color: #000000a9;






